<div>
    <br>
    <a ng-click="vm.back()" class="button">
        <i class="fa fa-arrow-left"></i> &nbsp; Back
    </a>
    <p>&nbsp;</p>
    <div class="card is-fullwidth">
        <header class="card-header">
            <p class="card-header-title">
                Detail {{model.name}}
            </p>
            <a class="card-header-icon">
                <i class="fa fa-angle-down"></i>
            </a>
        </header>
        <div class="card-content">
            <div class="content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris. <a href="#">@SD1</a>. <a href="#">#angular</a> <a href="#">#laravel</a>
                <br>
                <small>11:09 PM - 15 Jun 2016</small>
            </div>
        </div>
        <footer class="card-footer">
            <a class="card-footer-item">Save</a>
            <a class="card-footer-item">Edit</a>
            <a class="card-footer-item">Delete</a>
        </footer>
    </div>
</div>
